In [1]:
a=10 
print("a")

a

In [2]:
a=10
print(a)

10

In [4]:
"""variables
IDE
variales rules and regualtion
"""
x_y=100
print(x_y)
#To know the address we use the
print(id(a))
 print (type(a))# it is used to  find the

100

In [2]:
#data  types
#integ
text =""" A story is a narrative that recounts a sequence of events, either real or imagined, often for the purpose of entertainment, education, or cultural transmission. Stories can be shared through various media like spoken word, writing, film, or theater. They can be simple anecdotes or complex narratives with intricate plots.""" 
print(text)

 A story is a narrative that recounts a sequence of events, either real or imagined, often for the purpose of entertainment, education, or cultural transmission. Stories can be shared through various media like spoken word, writing, film, or theater. They can be simple anecdotes or complex narratives with intricate plots.

In [6]:
#types of data types
#boolean
a=True
b=False
print(a)
print(type(b))

True
<class 'bool'>

In [12]:
##I/0 = INPUT/ OUTPUT  OPERATION 
num1 = input(" enter the output of 1:")
num2 = input("enter the output of 2:")
req=num1+num2
print (req)

 enter the output of 1: Tanmay
enter the output of 2: Ranjan

Tanmay Ranjan

In [4]:
#write  the program to print the last  digit of a no. given by the user
a=(int(input("enter the number  ")))
res=a%10
print(f"the last digit of the{a}is:,{res}")


a=(int(input("enter the number  ")))
res=a%10
print(" the last digit of the ",a," is :",res)

enter the number   20

the last digit of the20is:,0

enter the number   20

 the last digit of the  20  is : 0

In [5]:
#Operators in python 
#Arthimatic operators
n1=20
n2= 10
# res=n1+n2
# res= n1-n2
res= n1*n2
res=n1**n2
res=n1%2
res=n1/n2
 res=n1//n2
print(res)

# comaprison operator / relation operator
user1_age=50
user2_age=40
res=user1_age>user2_age
res= user1_age>=user2_age
res=user1_age==user2_age
res=user1_age<=user2_age
res=user1_age!=user2_age
print res

10240000000000

In [ ]:
#assignment operator (+=,-=,/= )
 a= 30 
 # a=a+4

In [12]:

day3 
#4 membership operator 
# note: does not work on  the values
# is works in the sequnce and the existing
num ='898967'
res='76' in num
print (res)

num ='python'
res='py' in num
print(res)

False
True

In [15]:
#5 identitiy operator 
#(is ,is not)
a=10
b=10
res=a is b
print (res)

a=10
b=100 
res=a is b
print (res)

#identity operator works on the address of memory and not in the  variable value

True
False

In [23]:
# 7 bitwise opertor (&,/,^,<<,>>)
 #it chnage the number into binary  then it  perfrom the opertaion
a=7
b=2
res= a&b
print ( bin(res)) #output 0b10 means base 10 

a=7
b=2
res= a&b
print (hex(res)) # output 0x2

pin =12367
print (hex(pin)) #  masking  , in this  system generate the unique id  and it will  perfrom the operation

0b10
0x2
0x304f

In [36]:
 #day4.#conditional statements
#1 if elase 
#2. multiple if 
#3.if elif else
#4.multiple if elif else
#5.chaining of idf else(nesting,ladder)
a=40
b=35
res=a<b
if(res==True): #if (condition)
   print("ha hai")

In [39]:
a=40
b=35
res=a<b
if(res==True): #if (condition)
   print("ha hai")

In [ ]:
a=40
b=65
if(a<b and a<b);
   print("yess")
else
print ("no")

In [4]:
#write the program check the number is odd or even and take the number by the user 
a = int(input("enter the number"))
if(a%2==0):
   print("number is even")
else: 
   print("number is  odd")

enter the number 30

number is  odd

In [ ]:
#25.Calculate surface area of a cuboid
#Input: l = 4, b = 3, h = 2
#Output: Surface Area = ?