In [3]:
#1. Switch values of two integers
#Input: n1 = 20, n2 = 30
#Output: n1 = 30, n2 = 20
n1=20
n2=30
n1,n2=n2,n1
print(n2)
print(n1)

20
30

In [5]:
#2.Switch values of two strings (characters)
#Input: char1 = "hello", char2 = "java"
#Output: char1 = "java", char2 = "hello"
char1="hello"
char2="java"
char1, char2= char2, char1
print(char1)
print(char2)

java
hello

In [6]:
#3.3. Switch one string value with one integer value
#Input: n1 = 200, char2 = "java"
#Output: n1 = "java", char2 = 200
n1=200
char2= "java"
n1, char2= char2,n1
print(char2)
print(n1)

200
java

In [20]:
#4.Update balance after deposit
#Initial balance: current_balance = 10000
#Deposit amount: deposit_balance = 5000
#Output:
#‚óã Before deposit: current_balance = 10000
#‚óã After deposit: current_balance = 15000
c_b= 10000
d_a= 5000
c_b2=c_b+d_a
print(c_b)
print(c_b2)

10000
15000

In [23]:
#5 Update balance after withdrawal
#Before: balance = 12000
#Withdrawal: 3000
balance=12000
w1=3000
balance2= balance- w1
print(balance2)

9000

In [24]:
#6.Increase shopping cart items by 3
#Before: cart_items = 5
#After: ?
cart_items=5
items=3
items5= cart_items+items
print(items5)

8

In [26]:
#7.Apply a 20% discount to a price
#Before: price = 1000
#After: ?
price= 100
final= 100-0.2*100
print(final)

80.0

In [30]:
#8.Calculate student percentage
#Input: obtain_marks = 430, out_of = 500
#Output: Percentage = ?
obtain_marks=430
out_of=500
percent= obtain_marks*100/500
print(percent)

86.0

In [33]:
#9.Calculate total and average of 4 subjects
#Input Example:
#‚óè Subject 1: 80
#‚óè Subject 2: 75
#‚óè Subject 3: 90
#‚óè Subject 4: 85
sub1 =80
sub2=75
sub3= 90
sub4=85
avg=(sub1+sub2+sub3+sub4)/4
print(avg)

82.5

In [34]:
#10.1. Calculate average of 3 numbers
#Input: num1 = 25, num2 = 35, num3 = 45
#Output: Average = ?
num1= 25
num2=35
num3=45
Average= (num1+num2+num3)/3
print(Average)

35.0

In [15]:
#11.Calculate profit or loss percentage
#Input: cost_price = 500, selling_price = 600
#Output: Profit or Loss = ?
cp=500
sp=600
profit=sp-cp
if(sp-cp):
 print("bonus amount")
else: 
   (" huge blunder")
pe= profit/500*100
print(profit)
print(pe)

100
20.0

In [36]:
#13. Calculate simple interest
#Input: principal = 10000, rate = 5, time = 2
#Output: Simple Interest = ?
p=10000
r=5
t=2
SI=p*r*t/100
print(SI)

1000.0

In [61]:
#14.Calculate compound interest
#Input: principal = 10000, rate = 5, time = 2
#Output: Compound Interest = ?
p = 10000
r = 5
t = 2
n = 2

A = p * (1 + r / (100 * n)) ** (n * t) # we have to put* sign so that to multilpy  because  python doesnt know the bracket as mutiplication
CI = A - p

print("Compound Interest =", CI)

Compound Interest = 1038.1289062499945

In [54]:
#15Calculate tax on income
#Input: income = 500000, tax_rate = 10
#Output: Tax = ?
i=500000
rate=10
tax= rate*i/100
print(tax)

50000.0

In [60]:
#16Calculate percentage increase or decrease
#Input: initial_value = 200, final_value = 250
#Output: Percentage Change = ?
initial_value=200
final_value=250
p_change= (( final_value-initial_value)/initial_value)*100
print(p_change)

25.0

In [35]:
#17. Convert boolean to integer
#Input: True
#Output: ?
a= True
b= int(a)
print(b)

# C= False
# d= int(C)
# print(d)

1

In [40]:
#18.Convert float to string
#Input: 45.67
#Output: ?
a=45.67
b=str(a)
print(b)
print(type(b))

45.67
<class 'str'>

In [91]:
#19.Convert 20¬∞C to Fahrenheit
#Input: 20¬∞C
c=int(input("enter the temperature in the celsius"))
F=(c* 9/5) + 32
print(F)

enter the temperature in the celsius 20

68.0

In [4]:
#20. Convert 50¬∞F to Celsius
#Input: 50¬∞F
#Output: ?
f=int(input("enter the temprature in fehranhiet"))
c =(f-32)*5/9
print(c)

enter the temprature in fehranhiet 70

21.11111111111111

In [6]:
#21.Convert integer to binary
#Input: 25
#Output: ?
a=25
b=bin(25)
print(b)

0b11001

In [7]:
#21. Calculate area of a triangle
#Input: base = 10, height = 6
#Output: Area = ?
b= 10
h= 6
a=(1/2*b*h)
print(a)

30.0

In [8]:
#Calculate perimeter of a square
#Input: side = 9
#Output: Perimeter = ?
s=9
p=4*s
print(p)

36

In [9]:
#23.Calculate diameter of a circle
#Input: radius = 14
#Output: Diameter = ?
r=14
d=2*r
print(d)

28

In [16]:
#24#Calculate volume of a cube
#Input: side = 5
#Output: Volume = ?
s=5
v=s*s*s
print(v)

125

In [18]:
#25.Calculate surface area of a cuboid
#Input: l = 4, b = 3, h = 2
#Output: Surface Area = ?
l=4
b=3
h=2
a= 2*(l*b+b*h+l*h)
print(a)

52

In [22]:
#26.Square of sum: (x + y)¬≤
#Input: x = 5, y = 7
#Output: ?
x= 5
y= 7
z= (x+y)**2
print(z)

144

In [23]:
#27.Simplify expression: x¬≤ - 4x + 4
#Input: x = 3
#Output: ?
x=3
y= (x**2-4*x+4)
print(y)

1

In [24]:
#28.Evaluate: (a + b)(a - b)
#Input: a = 6, b = 2
#Output: ?
a=6
b=2
c=(a+b)*(a-b)
print(c)

32

In [25]:
#29.Sum of cubes: a¬≥ + b¬≥
#Input: a = 1, b = 2
#Output: ?
a=1
b=2
c= a**3+b**3
print(c)

9

In [26]:
#30.Simplify: (x - y)¬≤
#Input: x = 10, y = 6
#Output: ?
x=10
y=6
z=(x-y)**2
print(z)

16

In [27]:
#31.Difference of cubes: x¬≥ - y¬≥
#Input: x = 4, y = 1
#Output: ?
x=4
y=1
z=x**3-y**3
print(z)

63

In [34]:
#32.If user input is:
#Name: Dev
#Age: 25
#City: Jaipur
#Hobby: Cooking
#Then Output is :
#Meet Dev, a 25-year-old enthusiast from Jaipur
Name= "Tanmay Ranjan"
Age=24
city ="Bareilly"
hobby ="Reading novels"
print("Meet",Name,"a",Age,"year-old enthusiast from",city,"When not busy with daily tasks","Dev loves spending time",hobby,"Life in",city,"keeps energetic and curious every single day."
"with coding as a passion, the future looks creative and inspiring for",Name," in the", city, "City.")

Meet Tanmay Ranjan a 24 year-old enthusiast from Bareilly When not busy with daily tasks Dev loves spending time Reading novels Life in Bareilly keeps energetic and curious every single day.with coding as a passion, the future looks creative and inspiring for Tanmay Ranjan  in the Bareilly City.

In [41]:
#  33.Create a Python program that asks the user for the following:
# ‚óè Full Name
# ‚óè Profession
# ‚óè Favorite Quote
# ‚óè Years of Experience
# Output format:
# ------------------------------------------------
# Name : <Full Name>
# Profession : <Profession>
# Experience : <Years of Experience> years
# Quote : "<Favorite Quote>"
# -------------------------------------------------
Name = input("enter  the name ")
prof=input("enter the profession")
favq= input("enter the favorte quote")
exp= input("enter the year of exp")
print("--------------------------------------------------------")
print("Name  :",Name)
print("Proffesion  :",prof)
print("Favorite:",favq)
print("Experiance :",exp)
print("---------------------------------------------------------")

enter  the name  Tanmay Ranjan
enter the profession Student
enter the favorte quote Beauty lies in the Eyes of the beholder
enter the year of exp 2

--------------------------------------------------------
Name  : Tanmay Ranjan
Proffesion  : Student
Favorite quotes : Beauty lies in the Eyes of the beholder
Experiance : 2
---------------------------------------------------------

In [3]:
# 34.Ask the user:
# ‚óè Movie Name
# ‚óè Viewer Name
# ‚óè Seat Number
# ‚óè Show Time
# Output format:
# üé¨ Movie Ticket üéü
# ------------------------
# Movie : <Movie Name>
# Name : <Viewer Name>
# Seat No : <Seat Number>
# Time : <Show Time>
# Enjoy the show!
# ------------------------
print("Movie Ticket")
print("-------------------------------")
m=input("enter the movie name ")
n=input("enter the name")
s=input("enter the seato no.")
st=input("enter the show time")
print("Movie:",m)
print("Name:",n)
print("Seat no.",s)
print("Time",st)
print("Enjoy the Show!")
print("---------------------------------")

Movie Ticket
-------------------------------

enter the movie name  bahubali
enter the name Tanmay Ranjan
enter the seato no. 10
enter the show time 10.20

Movie: bahubali
Name: Tanmay Ranjan
Seat no. 10
Time 10.20
Enjoy the Show!
---------------------------------